.content .bg{
    /* background: url("./react-content.jfif"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -2rem;
    background: rgb(95, 95, 95);
}

/* .content .bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: .8;
} */

button{
    background: coral;
    color: #fff;
    border: none;
    padding: .4rem .6rem;
    cursor: pointer;
}


@media(max-width:500px){
    .content .bg{
        height: 50vh;
    }

    .bg h1{
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    .bg p{
        font-size: .8rem;
    }
}